<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ControlFloor</title>

		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"	/>
		<link rel="stylesheet"	href="https://fonts.googleapis.com/css?family=Roboto&display=swap" />
		<link rel="stylesheet" href="/assets/css/styles.css" />
		<link rel="stylesheet" href="/assets/css/sidebar.css" />
	</head>
	<body>
		{{template "sidebar" dict "udid" .udid }}
		<div class="main">
		    <table cellpadding=6 cellspacing=0 border=1>
		      <tr>
		        <td>Name</td>
		        <td>{{ html .name }}</td>
		      </tr>
		      <tr>
		        <td>UDID</td>
		        <td>{{ html .udid }}</td>
		      </tr>
		      <tr>
		        <td>Click Dimensions</td>
		        <td>{{ html .clickWidth }}x{{ html .clickHeight }}</td>
		      </tr>
		      <tr>
		        <td>Video Dimensions</td>
		        <td>{{ html .vidWidth }}x{{ html .vidHeight }}</td>
		      </tr>
		      <tr>
		        <td>Provider</td>
		        <td>{{ html .provider }}</td>
		      </tr>
		      <tr>
		        <td>WDA Status</td>
		        <td>{{ html .wdaStatus }}</td>
		      </tr>
		      <tr>
		        <td>Video Status</td>
		        <td>{{ html .videoStatus }}</td>
		      </tr>
		      <tr>
		        <td>Info</td>
		        <td>{{ html .info}}</td>
		      </tr>
		    </table>
		</div>
	</body>
</html>
