<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Responsive Fixed Sidebar</title>

<link
    rel="stylesheet"
    href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
/>
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
/>
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="stylesheet" href="/assets/css/sidebar.css" />
		
<meta charset="utf-8">
<style>
  canvas {
    border: solid 1px black;
  }
</style>
<script>
  function getel( id ) {
    return document.getElementById( id );
  }
  function getCursorPosition(canvas, event) {
    const rect = canvas.getBoundingClientRect()
    const x = event.clientX - rect.left
    const y = event.clientY - rect.top
    console.log("x: " + x + " y: " + y)
    return [x,y];
  }
  var session='';
  var wid=0;
  var heg=0;
  function req( type, url, handler, body ) {
    var xhr = new XMLHttpRequest();
    xhr.open( type, url );
    xhr.responseType = 'json';
    xhr.onload = function(x) { handler(x,xhr); }
    if( type == 'POST' && body ) xhr.send(body);
    else xhr.send();
  }
  function clickAt( pos ) {
    req( 'POST', 'http://localhost:8100/session/' + session + '/wda/tap/0', function() {}, JSON.stringify( { x: pos[0]/(1080/2)*wid, y: pos[1]/(1920/2)*heg } ) );
  }
  window.addEventListener("load", function(evt) {
    var output = getel("output");
    var input  = getel("input");
    var canvas = getel("canvas");
    var ctx    = canvas.getContext("2d");
    var ws;
    
    canvas.onclick = function( event ) {
      var pos = getCursorPosition( canvas, event );
      if( !session ) {
        req( 'GET', 'http://localhost:8100/status', function( a,xhr ) {
          session = xhr.response.sessionId;
          req( 'GET', 'http://localhost:8100/session/'+session+'/window/size', function( a,xhr ) {
            wid = xhr.response.value.width;
            heg = xhr.response.value.height;
            
            clickAt( pos )
          } );
          
        } );
      } else {
        clickAt( pos );
      }
    }
    getel("open").onclick = function( event ) {
      if( ws ) {
        return false;
      }
      ws = new WebSocket("ws:\/\/localhost:8000\/echo");
      ws.onopen = function( event ) {
        console.log("Websocket open");
      }
      ws.onclose = function( event ) {
        console.log("Websocket closed");
        ws = null;
      }
      ws.onmessage = function( event ) {
        if( event.data instanceof Blob ) {
          var image = new Image();
          var url;
          image.onload = function() {
            ctx.drawImage(image, 0, 0);
            URL.revokeObjectURL( url );
          };
          image.onerror = function( e ) {
            console.log('Error during loading image:', e);
          }
          var blob = event.data;
          
          url = URL.createObjectURL( blob );
          image.src = url;
        }
        else {
          var text = "Response: " + event.data;
          if( event.data != 'none' ) {
            var d = document.createElement("div");
            d.innerHTML = text;
            output.appendChild( d );
          }
        }
      }
      ws.onerror = function( event ) {
        console.log( "Error: ", event.data );
      }
      return false;
    };
    getel("send").onclick = function( event ) {
      if( !ws ) return false;
      ws.send( input.value );
      return false;
    };
    getel("close").onclick = function( event)  {
      if(!ws) return false;
      ws.close();
      return false;
    };
  });
</script>
</head>



<body>
    <div class="sidebar">
        <nav>
            <ul class="sidebar__nav">
                <li>
                    <a href="/" class="sidebar__nav__link">
                        <i class="mdi mdi-format-list-checkbox"></i>
                        <span class="sidebar__nav__text">Device List</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__nav__link">
                        <i class="mdi mdi-cellphone-play"></i>
                        <span class="sidebar__nav__text">Device Video</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__nav__link">
                        <i class="mdi mdi-clipboard-text"></i>
                        <span class="sidebar__nav__text">Device Details</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__nav__link">
                        <i class="mdi mdi-settings"></i>
                        <span class="sidebar__nav__text">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar__nav__link">
                        <i class="mdi mdi-account-supervisor"></i>
                        <span class="sidebar__nav__text">Users</span>
                    </a>
                </li>
                <li>
                    <a href="/logout" class="sidebar__nav__link">
                        <i class="mdi mdi-account-circle"></i>
                        <span class="sidebar__nav__text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <table>
          <tr>
            <td valign="top">
              <canvas id="canvas" width="750" height="1334"></canvas>
            </td>
            <td valign="top" width="50%">
              <form>
                <button id="open">Open</button>
                <button id="close">Close</button>
                <br>
                <input id="input" type="text" value="">
                <button id="send">Send</button>
              </form>
            </td>
            <td valign="top" width="50%">
              <div id="output"></div>
            </td>
          </tr>
        </table>
    </div>
</body>
</html>
