<form method='post'>
            <table style="margin-left:auto; margin-right:auto; position:relative; top: 300px" cellpadding=15 cellspacing=0 border=1>
                <tr>
                    <td>User</td>
                    <td>
                        <input name='user' type='text'>
                    </td>
                </tr>
                <tr>
                    <td>Pass</td>
                    <td>
                        <input name='pass' type='password'>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <input type='submit' value='Login'>
                    </td>
                </tr>
        </form>
